[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://gitlab.inria.fr/bkerbl/simple-knn.git
	ignore = untracked
[submodule "submodules/diff-gaussian-rasterization"]
	path = submodules/diff-gaussian-rasterization
	url = https://github.com/graphdeco-inria/diff-gaussian-rasterization
[submodule "LiVoGS"]
	path = LiVoGS
	url = git@github.com:haodongw101/LiVoGS.git
	branch = jetson
[submodule "MesonGS"]
	path = MesonGS
	url = https://github.com/Rajrup/MesonGS.git
[submodule "DracoGS"]
	path = DracoGS
	url = https://github.com/Rajrup/DracoGS.git
